body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 40px;
}

section {
    margin: 40px;
}
